Card{
    
    margin: 0 auto;
    margin-top: 150px;
    width: 18rem;       
}

Card2{
    
    margin: 0 auto;
    margin-top: 10px;
    width: 20rem;   
          
}
h3{
    text-align: center;

}